
	table,tr,td,th{
		border:1px solid black;
		border-collapse:collapse;
		padding:10px;
	}
	/*table container*/
	.container{
	margin: auto;
	width:90%;
	margin-top:5%;
	margin-bottom:5%;
	}
	/*style button*/
.button{
	border-radius: 12px;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button4{
	 background-color: #f44336; /* red */
}
.button4:hover {background: #da190b;}

.button3{
	background-color: #4CAF50; /* Green */
}
.button3:hover {background: #46a049;}

/* style table */
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

/* form add */
div.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
input[type=text],.file {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}