<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<meta charset="UTF-8"/>
<title>Add new Article</title>
<link rel="stylesheet" href="/css/articlestyle.css"/>
<link rel="stylesheet" href="/css/footer.css"/>
<link rel="stylesheet" href="/css/header.css"/>
</head>
<body>
<header>
		<div class="header">
		  <a href="/article" class="logo" th:text="#{ams}">AMS</a>
		  <div class="header-right">
		    <a href="/article" th:text="#{Home}">Home</a>
		    <a href="/add" th:text="#{Add}">Add</a>
		    
		    <a th:href="@{?lang=kh}" >
			<img  src="https://fotw.info/images/k/kh.gif" style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px; height: 20px;width: 25px;" alt="Khmer"/>
			</a>
			<a th:href="@{?lang=en}" >
			 	<img  src="https://static.webshopapp.com/shops/094414/files/054956666/the-united-kingdom-flag-icon-free-download.jpg" style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px; height: 20px;width: 25px;" alt="English"/>
			</a>
		    
		 </div>
		</div>
</header>
<div class="container">
	<h1 th:text="${formAdd}?'Add new article (បន្ថែមអត្ថបទ)':'Update article (កែសម្រួលអត្ថបទ)'">Add new Article</h1>
	<h2><a href="/article" th:text="#{BackHome}">Back to home page</a></h2>
	
	<div class="form">
	<form th:action="${formAdd}?'/add':'/update'" method="post" enctype="multipart/form-data">

				<span th:text="#{ID} "></span>&nbsp;&nbsp;<input type="text" th:field="${article.id}" placeholder="ID"/><br/>
				<span th:text="#{TITLE} "></span>&nbsp;&nbsp;<input type="text" th:field="${article.title}" placeholder="Article Title"/><span th:if="${#fields.hasErrors('article.title')}" style="color:red">Title can not be blank.</span><br/>
				<span th:text="#{DESCRIPTION} "></span>&nbsp;&nbsp;<input type="text" th:field="${article.description}" placeholder="Description"/><span th:if="${#fields.hasErrors('article.description')}" style="color:red">Description can not be blank.</span><br/>
				<span th:text="#{AUTHOR} "></span>&nbsp;&nbsp;<input type="text" th:field="${article.author}" placeholder="Author Name"/><span th:if="${#fields.hasErrors('article.author')}" style="color:red">Author can not be blank.</span><br/>
				<input type="hidden" th:field="${article.thumbnail}"/>
				<input type="file" name= "image" class="file" accept="image/*"/>				
				<input type="submit" th:value="${formAdd}?'Save':'Update'"/>

		
	</form>
	</div>
	</div>
		<!-- footer -->
	<div class="footer">
		<p> &copy;2018 All rights reserved</p>
	</div>
</body>
</html>