<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<meta charset="UTF-8"/>
<title>Article Management System</title>
<link rel="stylesheet" href="/css/articlestyle.css"/>
<link rel="stylesheet" href="/css/footer.css"/>
<link rel="stylesheet" href="/css/header.css"/>


</head>
<body>
<header>
		<div class="header">
		  <a href="/article" class="logo" th:text="#{ams}">AMS</a>
		  <div class="header-right">
		    <a href="/article" th:text="#{Home}">Home</a>
		    <a href="/add" th:text="#{Add}">Add</a>
		    
		    <a th:href="@{?lang=kh}" >
			<img  src="https://fotw.info/images/k/kh.gif" style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px; height: 20px;width: 25px;" alt="Khmer"/>
			</a>
			<a th:href="@{?lang=en}" >
			 	<img  src="https://static.webshopapp.com/shops/094414/files/054956666/the-united-kingdom-flag-icon-free-download.jpg" style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px; height: 20px;width: 25px;" alt="English"/>
			</a>
		    
		 </div>
		</div>
</header>
<!-- content -->
	<div class="container">
				
		<table  id="customers">
		<tr>
			<th th:text="#{ID}">ID</th>
			<th th:text="#{TITLE}">Title</th>
			<th th:text="#{DESCRIPTION}">Description</th>
			<th th:text="#{AUTHOR}">Author</th>
			<th th:text="#{PHOTO}">Photo</th>
			<th th:text="#{CREATED_DATE}">Created Date </th>
			<th th:text="#{ACTION}">Action</th>
		</tr>
		<tr th:each="article:${articles}" th:object="${article}">
			<td th:text="*{id}">ID</td>
			<td th:text="*{title}">Name</td>
			<td th:text="*{description}">Description</td>
			<td th:text="*{author}">Author</td>
			
			<td>
				<img th:src="*{thumbnail}"/>
			</td>
					
			<td th:text="*{createdDate}">Created Date </td>
			<td>
			<a th:href="@{/delete/{id}(id=*{id})}" th:text="#{DELETE}" class="button button4">Delete</a>
			<a th:href="@{/update/{id}(id=*{id})}" th:text= "#{UPDATE}" class="button button3">Update</a>
			</td>
		</tr>
	</table>
		
	</div>
	<!-- footer -->
	<div class="footer">
		<p> &copy;2018 All rights reserved</p>
	</div>
</body>
</html>