<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<meta charset="UTF-8"/>
<title>Upload File</title>
<link rel="stylesheet" href="/css/articlestyle.css"/>
<link rel="stylesheet" href="/css/footer.css"/>
<link rel="stylesheet" href="/css/header.css"/>

</head>
<body>
<header>
		<div class="header">
		  <a href="/article" class="logo" th:text="#{ams}">AMS</a>
		  <div class="header-right">
		    <a href="/article" th:text="#{Home}">Home</a>
		    <a href="/add" th:text="#{Add}">Add</a>
		    
		    <a th:href="@{?lang=kh}" >
			<img  src="https://fotw.info/images/k/kh.gif" style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px; height: 20px;width: 25px;" alt="Khmer"/>
			</a>
			<a th:href="@{?lang=en}" >
			 	<img  src="https://static.webshopapp.com/shops/094414/files/054956666/the-united-kingdom-flag-icon-free-download.jpg" style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px; height: 20px;width: 25px;" alt="English"/>
			</a>
		    
		 </div>
		</div>
</header>

<div class="container">
	<h1>File Upload</h1>
	<div class="form">
	<form action="/upload" method="post" enctype="multipart/form-data">
		<input type="file" name="files" multiple ="multiple"/>
		<input type="submit" value="Upload" />
	</form>	
	</div>
	</div>
	
	
	<div class="footer">
		<p> &copy;2018 All rights reserved</p>
	</div>

</body>
</html>